<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Natural</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <link href="../static/css/type.css" rel="stylesheet">
</head>
<body>
<header id="header">
    <section id="page-breadcrumb">
        <div id="login_block" class="modal">
            <form class="modal-content animate" method="post" action="">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('login_block').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                    <img src="../static/images/logo.png" alt="logo" class="avatar">
                </div>
                <div class="login-container">
                    <label><b>E-mail</b>
                        <input type="email" placeholder="Enter E-mail as username" id="username" required>
                        <p id="warningEmail_login" class="invalid">Invalid Email</p>
                    </label>

                    <label><b>Password</b>
                    <input type="password" placeholder="Enter Password" id="password" required>
                    </label>


                    <button type="submit" id="Login">Login</button>
                </div>
                <div class="login-bottom">
                    <span class="fpsw" id="ForgetPass">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <div id="register_block" class="modal2">
            <form class="modal-content animate" method="post" action="">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('register_block').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                    <img src="../static/images/logo.png" alt="logo" class="avatar">
                </div>
                <div class="login-container">
                    <label for="rusername"><b>E-mail</b>
                    <input type="email" placeholder="example@gmail.com" id="rusername" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ></label>
                    <p id="warningEmail" class="invalid">Invalid Email</p>

                    <label for="rname"><b>DisplayName</b>
                        <input type="text" placeholder="YourDisplayName" id="rname" minlength="4" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}">
                    </label>
                    <p id="warningName_num" class="invalid">Minimum 4 letters</p>
                    <p id="warningName_char" class="invalid">Don't use Special Character</p>

                    <label for="rpassword"><b>Password</b>
                    <input type="password" placeholder="Enter Password" id="rpassword" minlength="6" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                    </label>
                    <p id="warningPass" class="invalid">Minimum 6 letters</p>

                    <label for="conpassword"><b>Confirm Password</b>
                    <input type="password" placeholder="Confirm Password" id="conpassword" minlength="6" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                    </label>
                    <p id="warningConPass" class="invalid">Password doesn't match</p>

                    <button type="submit" id="Register" value="Submit">Register</button>
                </div>
                <div class="login-bottom">
                    <span class="fpsw" id="RForgetPass">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <div class="navbar navbar-inverse" role="banner">
            <table class="navbart">
                <tr>
                    <td rowspan="2">
                        <a class="navbar-brand" href="index.html"><img src="../static/images/logo.png" alt="logo"></a>
                    </td>
                    <td>
                        <div>
                            <div class="social-icons">
                                <ul>
                                    <li onclick="login()"><a href="#modal" class="button-login"> Login</a></li>
                                    <li onclick="register()"><a href="#modal" class="button-login"> Register |</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="navbarlist overflow">
                        <ul>
                            <li><a href="type_religious.html">Religious Sites</a></li>
                            <li><a href="type_art_museum.html">Art & Museum</a></li>
                            <li><a href="type_market.html">Market</a></li>
                            <li><a href="type_natural.html">Natural</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</header>

<section id="blog_type" class="padding-bottom">

    <div class="img_type">

        <img class="mySlides" src="../static/images/type_natural/head_natural_1.jpg">
        <img class="mySlides" src="../static/images/type_natural/head_natural_4.jpg">
        <img class="mySlides" src="../static/images/type_natural/head_natural_1-2.jpg">

        <div class="description_type">
            <h1>Natural</h1>
            <p>Look deep into nature, and then you will understand
		everything better. --Albert Einstein</p>
        </div>
    </div>
    <div class="block_type_list">
        <!--places 1-->
        <div class="block_type_content">
            <div class="block_1">
                <img class="block_img" src="../static/images/natural/benchakiti_2_ed.jpg" alt=""  >
            </div>
            <div class="block_2">
                <div class="block_info">
                <h3 >[ สวนเบญจกิติ ] ปอดกลางกรุงขนาดใหญ่ของคนกรุง</h3>
                <p>
                    สวนที่สร้างขึ้นเพื่อเทิดพระเกียรติทูลเกล้าทูลกระหม่อมถวายสมเด็จพระนางเจ้าฯ 
                    พระบรมราชินีนาถเนื่องในวโรกาสทรงเจริญพระชนมายุครบ 5 รอบ 
                    กระทรวงการคลังเป็นหน่วยงานหลักในการรับผิดชอบทั้งในด้านการวางผัง ออกแบบ และก่อสร้าง 
                    โดยสมเด็จพระนางเจ้าฯ พระบรมราชินีนาถ ได้เสด็จพระราชดำเนินมาทรงเป็นองค์ประธานพิธีเปิด พร้อมกับทรงพระกรุณาโปรดเกล้าฯ 
                    พระราชทานชื่อสวนแห่งนี้ว่า “สวนเบญจกิติ (Benchakitti Park)”....&nbsp; &nbsp; &nbsp;
			<a href="place_benjakiti.html">เพิ่มเติม</a> </p>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
        <!--places 2-->
        <div class="block_type_content">
            <div class="block_1">
                <div class="block_info">
                <h3 >[ สวนสัตว์ดุสิต ] พาไปส่องสัตว์ที่สวนสัตว์ดุสิต</h3>
                <p>
                    สวนสัตว์ดุสิต หรืออีกชื่อหนึ่งคือ เขาดินวนา โดยสถานที่แห่งนี้ตั้งอยู่ ณ ใจกลางเมืองกรุงเทพมหานคร
                    โดยสวนสัตว์นี้ได้ถูกสร้างขึ้นมาตั้งแต่สมัยรัชกาลที่ 5 ใน พ.ศ. 2438<br> (ประมาณ 119 ปี ได้แล้วนะเนี่ย O.o !!)
                    และเปิดให้ประชาชนสามารถเข้ามาเยี่ยมชมและพักผ่อนชมสัตว์ได้แบบเป็นทางการในวันที่ 18 มีนาคม พ.ศ. 2481 
                    ....&nbsp; &nbsp; &nbsp;<a href="place_dusit.html">เพิ่มเติม</a> </p>
                    <br>
                    <hr>
                </div>

            </div>
            <div class="block_2">
                <img class="block_img" src="../static/images/natural/dusit_9_ed.jpg" alt=""  >
            </div>

        </div>

        <!--places 3-->
        <div class="block_type_content">
            <div class="block_1">
                <img class="block_img" src="../static/images/natural/suanluang_1.jpg" alt=""  >
            </div>
            <div class="block_2">
                <div class="block_info">
                <h3 >[ สวนหลวง ร.9 ] กรุงเทพฯมีอะไรให้เที่ยวมากกว่าเดินตากแอร์ในห้าง</h3>
                <p>
                    สวนหลวง ร.9 เป็นสวนสาธารณะและสวนพฤกษศาสตร์ที่ใหญ่ที่สุดในกรุงเทพมหานคร 
                    เป็นสวนสาธารณะที่เหมาะกับนักวิ่งหรือนักปั่นที่มองหาระยะทางที่ไกลขึ้น ส่วนในด้านของสถานที่พิเศษของที่นี่คงจะเป็น 
                    สวนนานาชาติตั้งแต่ สวนจีน สวนญี่ปุ่น สวนตะวันตก ไหนจะมีสวนกระบองเพชร และอีกนานาสวนที่มีแค่ที่นี่ที่เดียวเท่านั้น 
                    ....&nbsp; &nbsp; &nbsp;<a href="place_suanluang.html">เพิ่มเติม</a> </p>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
	    
	<!--place 4-->
        <div class="block_type_content">
            <div class="block_1">
                <div class="block_info">
                <h3 >[ ป่าในกรุง ] ปอดแห่งใหม่ของกรุงเทพฯ เข้าชมฟรี!!</h3>
                <p>
                    ไม่นานมานี้บริเวณประเวศ เพิ่งมีสถานที่ท่องเที่ยวเปิดใหม่ซึ่งเดิมทีพื้นที่ดังกล่าวเป็นที่รกร้าง 
                    แต่ถูกปรับเปลี่ยนให้กลายเป็นแหล่งเรียนรู้ด้านทางธรรมชาติชื่อว่า ‘ป่าในกรุง’ <br>
                    ไฮไลท์ของสถานที่นี้นอกจากจะเป็นป่าที่เขียวชะอุ่มแล้วยังมีหอชมป่าสูง 23 เมตรสูงเด่นเป็นสง่า 
                    ....&nbsp; &nbsp; &nbsp;<a href="place_panaikrung.html">เพิ่มเติม</a> </p>
                    <br>
                    <hr>
                </div>

            </div>
            <div class="block_2">
                <img class="block_img" src="../static/images/natural/metro_forest_1_ed.jpg" alt=""  >
            </div>

        </div>

    </div>


</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="../static/images/home/under.png" alt="">
            </div>
        </div>
    </div>
</footer>

<script language="JavaScript" src="../static/js/script_img_change.js"></script>

</body>
</html>
