<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Market</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <link href="../static/css/type.css" rel="stylesheet">
</head>
<body>
<header id="header">
    <section id="page-breadcrumb">
        <div id="login_block" class="modal">
            <form class="modal-content animate" method="post" action="">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('login_block').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                    <img src="../static/images/logo.png" alt="logo" class="avatar">
                </div>
                <div class="login-container">
                    <label><b>E-mail</b>
                        <input type="email" placeholder="Enter E-mail as username" id="username" required>
                        <p id="warningEmail_login" class="invalid">Invalid Email</p>
                    </label>

                    <label><b>Password</b>
                    <input type="password" placeholder="Enter Password" id="password" required>
                    </label>


                    <button type="submit" id="Login">Login</button>
                </div>
                <div class="login-bottom">
                    <span class="fpsw" id="ForgetPass">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <div id="register_block" class="modal2">
            <form class="modal-content animate" method="post" action="">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('register_block').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                    <img src="../static/images/logo.png" alt="logo" class="avatar">
                </div>
                <div class="login-container">
                    <label for="rusername"><b>E-mail</b>
                    <input type="email" placeholder="example@gmail.com" id="rusername" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ></label>
                    <p id="warningEmail" class="invalid">Invalid Email</p>

                    <label for="rname"><b>DisplayName</b>
                        <input type="text" placeholder="YourDisplayName" id="rname" minlength="4" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}">
                    </label>
                    <p id="warningName_num" class="invalid">Minimum 4 letters</p>
                    <p id="warningName_char" class="invalid">Don't use Special Character</p>

                    <label for="rpassword"><b>Password</b>
                    <input type="password" placeholder="Enter Password" id="rpassword" minlength="6" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                    </label>
                    <p id="warningPass" class="invalid">Minimum 6 letters</p>

                    <label for="conpassword"><b>Confirm Password</b>
                    <input type="password" placeholder="Confirm Password" id="conpassword" minlength="6" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                    </label>
                    <p id="warningConPass" class="invalid">Password doesn't match</p>

                    <button type="submit" id="Register" value="Submit">Register</button>
                </div>
                <div class="login-bottom">
                    <span class="fpsw" id="RForgetPass">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <div class="navbar navbar-inverse" role="banner">
            <table class="navbart">
                <tr>
                    <td rowspan="2">
                        <a class="navbar-brand" href="index.html"><img src="../static/images/logo.png" alt="logo"></a>
                    </td>
                    <td>
                        <div>
                            <div class="social-icons">
                                <ul>
                                    <li onclick="login()"><a href="#modal" class="button-login"> Login</a></li>
                                    <li onclick="register()"><a href="#modal" class="button-login"> Register |</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="navbarlist overflow">
                        <ul>
                            <li><a href="type_religious.html">Religious Sites</a></li>
                            <li><a href="type_art_museum.html">Art & Museum</a></li>
                            <li><a href="type_market.html">Market</a></li>
                            <li><a href="type_natural.html">Natural</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</header>

<section id="blog_type" class="padding-bottom">

    <div class="img_type">

        <img class="mySlides" src="../static/images/type_market/head_market_1.jpg">
        <img class="mySlides" src="../static/images/type_market/head_market_2.jpg">
        <img class="mySlides" src="../static/images/type_market/head_market_3.jpg">

        <div class="description_type">
            <h1>Market</h1>
            <p>It’s incredible to think about how many shopping markets in Bangkok are available for you to explore!</p>
        </div>
    </div>
    <div class="block_type_list">
        <!--places 1-->
        <div class="block_type_content">
            <div class="block_1">
                <img class="block_img" src="../static/images/market/rodfai_1_ed.jpg" alt=""  >
            </div>
            <div class="block_2">
                <div class="block_info">
                <h3 >[ ตลาดนัดรถไฟ ] เดินกินเดินเที่ยวที่ศรีนครินทร์</h3>
                <p>
                    ทำไมต้องตลาดนัดรถไฟ? <br>
                    ตลาดนัดกลางคืนสุดแนว ย้ายสถานที่มาอยู่ที่ถนนศรีนครินทร์ เป็นตลาดที่เหมาะกับ<br>ผู้ที่ชื่นชอบของโบราณ รักความคลาสสิก
                    อารมณ์คล้ายๆ กับย้อนเข้าไปสู่ยุคเก่า <br>กลิ่นอายของสไตล์วินเทจ ....&nbsp; &nbsp; &nbsp;<a href="place_rodfai.html">เพิ่มเติม</a>
                </p>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
        <!--places 2-->
        <div class="block_type_content">
            <div class="block_1">
                <div class="block_info">
                <h3 >[ ตลาดน้ำคลองลัดมะยม ] ตลาดน้ำของชาวบ้านชุมชนริมคลองลัดมะยม</h3>
                <p>
                    จุดเด่นของตลาดน้ำคลองลัดมะยม? <br>
                    แหล่งจำหน่ายสินค้าที่ผลิตในชุมชน รวมทั้งผักผลไม้ ขนม อาหารคาวหวานที่ทำสืบต่อกันมา<br>
                    รวมไปถึงยังมีสินค้าประเภทต้นไม้ดอกไม้ กล้วยไม้ เป็นตลาดที่เน้นในเรื่องของงานศิลปะ งานแฮนด์เมด....&nbsp; &nbsp; &nbsp;<a href="place_khlongladmayom.html">เพิ่มเติม</a> </p>
                    <br>
                    <hr>
                </div>

            </div>
            <div class="block_2">
                <img class="block_img" src="../static/images/market/khlongladmayom_3_ed.jpg" alt=""  >
            </div>

        </div>

        <!--places 3-->
        <div class="block_type_content">
            <div class="block_1">
                <img class="block_img" src="../static/images/market/asiatique_1.jpg" alt=""  >
            </div>
            <div class="block_2">
                <div class="block_info">
                <h3 >[ Asiatique ] แชะ ชอป ชิล ที่ Asiatique</h3>
                <p>
                     แหล่งท่องเที่ยวและชอปปิงไลฟ์สไตล์ริมแม่น้ำเจ้าพระยา <br>
                    เอเชียทีค เดอะ ริเวอร์ฟร้อนท์ แหล่งท่องเที่ยวและไลฟไสตล์ชอปปิงริมแม่น้ำเจ้าพระยา <br>ที่ใหญ่ที่สุดในเอเชีย เป็นพื้นที่ซึ่งได้ออกแบบให้พร้อมด้วยองค์ประกอบหลากหลาย<br>
                    เพื่อรองรับ และเติมเต็มความต้องการของนักท่องเที่ยวและคนหลากหลายกลุ่มได้อย่างครบครัน ....&nbsp; &nbsp; &nbsp;<a href="place_asiatique.html">เพิ่มเติม</a> 
                </p>
                    <br>
                    <hr>
                </div>
            </div>
        </div>

    </div>


</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="../static/images/home/under.png" alt="">
            </div>
        </div>
    </div>
</footer>

<script language="JavaScript" src="../static/js/script_img_change.js"></script>

</body>
</html>
