#name{
    text-align: center;
}

.td-name{
    width: 100%;
}

#profile .img-profile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-profile{
    width: 20%;
    float: left;
    margin-left: 3%;
    margin-right: 5%;
}

.img-profile .edit{
    padding: 20px;
}

.img-profile .edit img{
    width: 10%;
}

.navtabs{
    width: 60%
}

#profile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00a7e5;
}

#profile li {
    float: left;
}

#profile li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#profile li a:hover:not(.active) {
    background-color: #00c5ff;
}

.tab-content{
    padding: 20px;
    border: 1px solid #00a7e5;
}

.tab-content #fav-tab{
    display: none;
}
