<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asiatique</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <link href="../static/css/place.css" rel="stylesheet">
</head>
<body>
<header id="header">
    <section id="page-breadcrumb">
        <div id="login_block" class="modal">
            <form class="modal-content animate" method="post" action="">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('login_block').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                    <img src="../static/images/logo.png" alt="logo" class="avatar">
                </div>
                <div class="login-container">
                    <label><b>E-mail</b>
                        <input type="email" placeholder="Enter E-mail as username" id="username" required>
                        <p id="warningEmail_login" class="invalid">Invalid Email</p>
                    </label>

                    <label><b>Password</b>
                    <input type="password" placeholder="Enter Password" id="password" required>
                    </label>


                    <button type="submit" id="Login">Login</button>
                </div>
                <div class="login-bottom">
                    <span class="fpsw" id="ForgetPass">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <div id="register_block" class="modal2">
            <form class="modal-content animate" method="post" action="">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('register_block').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                    <img src="../static/images/logo.png" alt="logo" class="avatar">
                </div>
                <div class="login-container">
                    <label for="rusername"><b>E-mail</b>
                    <input type="email" placeholder="example@gmail.com" id="rusername" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ></label>
                    <p id="warningEmail" class="invalid">Invalid Email</p>

                    <label for="rname"><b>DisplayName</b>
                        <input type="text" placeholder="YourDisplayName" id="rname" minlength="4" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}">
                    </label>
                    <p id="warningName_num" class="invalid">Minimum 4 letters</p>
                    <p id="warningName_char" class="invalid">Don't use Special Character</p>

                    <label for="rpassword"><b>Password</b>
                    <input type="password" placeholder="Enter Password" id="rpassword" minlength="6" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                    </label>
                    <p id="warningPass" class="invalid">Minimum 6 letters</p>

                    <label for="conpassword"><b>Confirm Password</b>
                    <input type="password" placeholder="Confirm Password" id="conpassword" minlength="6" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                    </label>
                    <p id="warningConPass" class="invalid">Password doesn't match</p>

                    <button type="submit" id="Register" value="Submit">Register</button>
                </div>
                <div class="login-bottom">
                    <span class="fpsw" id="RForgetPass">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <div class="navbar navbar-inverse" role="banner">
            <table class="navbart">
                <tr>
                    <td rowspan="2">
                        <a class="navbar-brand" href="index.html"><img src="../static/images/logo.png" alt="logo"></a>
                    </td>
                    <td>
                        <div>
                            <div class="social-icons">
                                <ul>
                                    <li onclick="login()"><a href="#modal" class="button-login"> Login</a></li>
                                    <li onclick="register()"><a href="#modal" class="button-login"> Register |</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="navbarlist overflow">
                        <ul>
                            <li><a href="type_religious.html">Religious Sites</a></li>
                            <li><a href="type_art_museum.html">Art & Museum</a></li>
                            <li><a href="type_market.html">Market</a></li>
                            <li><a href="type_natural.html">Natural</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</header>

<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>Asiatique</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/market/asiatique_1_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/market/asiatique_2_ed.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/market/asiatique_3_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/market/asiatique_4_ed.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>แหล่งท่องเที่ยวและช้อปปิ้งไลฟ์สไตล์ริมแม่น้ำเจ้าพระยาอย่าง เอเชียทีค เดอะ ริเวอร์ฟร้อนท์  (ASIATIQUE, The Riverfront) จะทวีความแรงขึ้นเรื่อย ๆ
                    อาจเพราะด้วยรูปลักษณ์ที่ตอบโจทย์ บวกกับบรรยากาศและทัศนียภาพที่แปลกใหม่ สวยงาม รวมถึงตกแต่งด้วยสไตล์สถาปัตยกรรมในช่วง พ.ศ. 2450 ถึง พ.ศ. 2490
                    จึงไม่แปลกที่ เอเชียทีค เดอะ ริเวอร์ฟร้อนท์ จะกลายเป็นแลนด์มาร์คแห่งใหม่ของกรุงเทพฯ ในระยะเวลาไม่นาน</p>
                <p>เอเชียทีค เดอะ ริเวอร์ฟร้อนท์ ถือกำเนิดขึ้นภายใต้แนวคิด Festival Market and Living Museum แหล่งท่องเที่ยวและไลฟไสตล์ช้อปปิงริมแม่น้ำเจ้าพระยาที่ใหญ่ที่สุดในเอเชีย
                    เป็นพื้นที่ซึ่งได้ออกแบบให้พร้อมด้วยองค์ประกอบหลากหลาย เพื่อรองรับและเติมเต็มความต้องการของนักท่องเที่ยวและคนหลากหลายกลุ่มได้อย่างครบครัน ไม่ว่าจะเป็น...</p>
                <p> ย่านเจริญกรุง ประกอบไปด้วยร้านขายของที่ระลึกสำหรับนักท่องเที่ยว และสินค้าของตกแต่งบ้าน ที่สวยงามหลากหลาย อีกทั้งยังมีโรงละคร ที่รองรับผู้ชมได้กว่า 400 ที่นั่ง
                    สำหรับผู้ที่ชื่นชอบศิลปวัฒนธรรมไทยกับหุ่นละครเล็ก โจหลุยส์ หรือโชว์สุดอลังการจากคาลิปโซ่ รวมถึงร้านอาหารชั้นนำ</p>
                <p>ย่านกลางเมือง เป็นลานจัดกิจกรรมกลางแจ้ง และโซนอาหารนานาชาติ ที่รวบรวมอาหารขึ้นชื่อจากประเทศต่าง ๆ ในบรรยากาศง่าย ๆ สบาย ๆ พร้อมรื่นเริงไปกับเครื่องดื่มและเบียร์เย็น ๆ ที่ Asia House</p>
                <p>ย่านโรงงาน เป็นแหล่งพบปะสังสรรค์แห่งใหม่บนถนนเจริญกรุง ที่รวบรวมร้านอาหาร ผับ และร้านค้ามีสไตล์มากมาย ให้เป็นที่พักผ่อนหย่อนใจหลังเลิกงาน พรั่งพร้อมไปด้วยสินค้าแฟชั่น และของประดับตกแต่งให้เลือกซื้ออย่างจุใจ
                    ในบรรยากาศสนุกสนานยามค่ำคืน</p>
                <p> ย่านริมน้ำ ดื่มด่ำไปกับบรรยากาศแบบพาโนราม่า ริมแม่น้ำเจ้าพระยา มีสายลมเย็น ๆ พัดผ่านสร้างความสบาย ด้วยทางเดินริมแม่น้ำที่ยาวกว่า 300 เมตร พบร้านอาหารมีระดับมากมาย
                    ทั้งอาหารญี่ปุ่น อิตาเลี่ยน ไทย จีน และซีฟู้ด</p>
            </div>

        </div>

        <div class="aside padding-bottom">
            <span class="post-date">April 30, 2018</span>
            <span class="like-num">3</span>
            <span class="fa-heart">
                <img src="../static/images/home/like.png" onmouseover="hoverlike(this);"
                     onmouseout="unhoverlike(this);"/>
            </span>
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>2194 ถ.เจริญกรุง แขวงวัดพระยาไกร เขตบางคอแหลม กรุงเทพมหานคร </p>
            <h3>เวลาทำการ</h3>
            <p>เปิดทุกวัน เวลา 16.00-24.00 น.</p>

            <div id="map"></div>

        </div>

    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="../static/images/home/under.png" alt="">
            </div>
        </div>
    </div>
</footer> 

<script>
function myMap() {
    var place = {lat: 13.70502, lng:100.502609};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>

</body>
</html>
