<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>โครงการป่าในกรุง</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <link href="../static/css/place.css" rel="stylesheet">
</head>
<body>
<header id="header">
    <section id="page-breadcrumb">
        <div id="login_block" class="modal">
            <form class="modal-content animate" method="post" action="">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('login_block').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                    <img src="../static/images/logo.png" alt="logo" class="avatar">
                </div>
                <div class="login-container">
                    <label><b>E-mail</b>
                        <input type="email" placeholder="Enter E-mail as username" id="username" required>
                        <p id="warningEmail_login" class="invalid">Invalid Email</p>
                    </label>

                    <label><b>Password</b>
                    <input type="password" placeholder="Enter Password" id="password" required>
                    </label>


                    <button type="submit" id="Login">Login</button>
                </div>
                <div class="login-bottom">
                    <span class="fpsw" id="ForgetPass">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <div id="register_block" class="modal2">
            <form class="modal-content animate" method="post" action="">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('register_block').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                    <img src="../static/images/logo.png" alt="logo" class="avatar">
                </div>
                <div class="login-container">
                    <label for="rusername"><b>E-mail</b>
                    <input type="email" placeholder="example@gmail.com" id="rusername" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ></label>
                    <p id="warningEmail" class="invalid">Invalid Email</p>

                    <label for="rname"><b>DisplayName</b>
                        <input type="text" placeholder="YourDisplayName" id="rname" minlength="4" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}">
                    </label>
                    <p id="warningName_num" class="invalid">Minimum 4 letters</p>
                    <p id="warningName_char" class="invalid">Don't use Special Character</p>

                    <label for="rpassword"><b>Password</b>
                    <input type="password" placeholder="Enter Password" id="rpassword" minlength="6" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                    </label>
                    <p id="warningPass" class="invalid">Minimum 6 letters</p>

                    <label for="conpassword"><b>Confirm Password</b>
                    <input type="password" placeholder="Confirm Password" id="conpassword" minlength="6" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                    </label>
                    <p id="warningConPass" class="invalid">Password doesn't match</p>

                    <button type="submit" id="Register" value="Submit">Register</button>
                </div>
                <div class="login-bottom">
                    <span class="fpsw" id="RForgetPass">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <div class="navbar navbar-inverse" role="banner">
            <table class="navbart">
                <tr>
                    <td rowspan="2">
                        <a class="navbar-brand" href="index.html"><img src="../static/images/logo.png" alt="logo"></a>
                    </td>
                    <td>
                        <div>
                            <div class="social-icons">
                                <ul>
                                    <li onclick="login()"><a href="#modal" class="button-login"> Login</a></li>
                                    <li onclick="register()"><a href="#modal" class="button-login"> Register |</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="navbarlist overflow">
                        <ul>
                            <li><a href="type_religious.html">Religious Sites</a></li>
                            <li><a href="type_art_museum.html">Art & Museum</a></li>
                            <li><a href="type_market.html">Market</a></li>
                            <li><a href="type_natural.html">Natural</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</header>

<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>โครงการป่าในกรุง</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/natural/metro_forest_4_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/metro_forest_1_ed.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/metro_forest_2_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/metro_forest_3_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/metro_forest_5_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/metro_forest_6_ed.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>"โครงการป่าในกรุง" เกิดขึ้นบนความตั้งใจที่จะพัฒนาพื้นที่สีเขียวในที่ดินของ ปตท. จำนวนทั้งหมด 12 ไร่ โดยวัตถุประสงค์ที่จะส่งเสริมพื้นที่สีเขียวในเขตเมืองให้มากขึ้น ภายในพื้นที่
                    12 ไร่ มีการแบ่งสัดส่วนพื้นที่ต่าง ๆ ได้แก่ พื้นที่ป่า 75% พื้นที่น้ำ 10% พื้นที่ใช้งาน 15% ซึ่งในอนาคตพื้นที่สีเขียวแห่งนี้ จะกลายเป็นแหล่งเรียนรู้และศึกษาป่าในเมือง
                    รวมถึงเป็นแหล่งปลูกจิตสำนึกและสร้างความใกล้ชิดระหว่างคนเมืองกับป่าให้มากยิ่งขึ้น</p>
                <p>โดดเด่นด้วยการออกแบบอาคารที่กลมกลืนกับสิ่งแวดล้อม ซึ่งเป็นต้นแบบนวัตกรรมสีเขียว สังเกตได้จากบริเวณส่วนทางเดินเข้าชมอาคารนิทรรศการ ซึ่งผนังอาคารทำจากวัสดุดินอัดบดสีส้ม
                    ที่เผยให้เห็นร่องรอยของการอัดบดของดินเป็นชั้น ๆ กลายเป็นลวดลายประดับผนังแบบธรรมชาติ ในส่วนของอาคารนิทรรศการแบ่งออกเป็นทั้งหมด 2 ส่วน ได้แก่
                <br><br>ส่วนที่ 1 บอกถึงประวัติที่มา แนวทางการศึกษาและทฤษฎีการฟื้นฟูป่าธรรมชาติของ ศาสตราจารย์ ดร.อาคิระ มิยาวากิ
                 <br>   ส่วนที่ 2 ห้องฉายภาพยนตร์ ซึ่งมีเนื้อหาสร้างแรงจูงใจและปลูกฝังจิตสำนึกที่ดีของการปลูกป่า</p>
                <p>มาถึงไฮไลท์สำคัญของที่นี่คือ "เส้นทางศึกษาธรรมชาติ" โดยออกแบบเป็นทางเดินชมเรือนยอด (Sky Walk) ทอดยาวไปตามพื้นที่ของป่าที่ระดับความสูง 10.2 เมตร ระยะทาง 200 เมตร
                    เป็นทางเดินที่เชื่อมไปยัง "หอชมวิว" (Observation Tower) ความสูง 23 เมตร เส้นทางศึกษาธรรมชาตินี้คุณจะได้เรียนรู้และชมทัศนียภาพต้นไม้ชนิดต่าง ๆ
                    ได้รอบทิศทาง 360 องศา แต่เมื่อหันไปอีกด้านก็จะเห็นวิวชุมชนในละแวกนั้น เรียกว่าแทบมองไม่เห็นตึกสูงเสียดฟ้าให้ระคายเคืองตา แถมยังรู้สึกชิล เงียบสงบต่างจากใจกลางเมืองหลวงที่แสนวุ่นวาย</p>

            </div>

        </div>

        <div class="aside padding-bottom">
            <span class="post-date">January 5, 2018</span>
            <span class="like-num">3</span>
            <span class="fa-heart">
                <img src="../static/images/home/like.png" onmouseover="hoverlike(this);"
                     onmouseout="unhoverlike(this);"/>
            </span>
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>8/3 ถนนสุขาภิบาล 2 แขวงดอกไม้ เขตประเวศ กรุงเทพมหานคร </p>
            <h3>เวลาทำการ</h3>
            <p>เปิดวันอังคาร-อาทิตย์ เวลา 09.00-16.00 น. <br>(หยุดวันจันทร์ แต่ในวันหยุดนักขัตฤกษ์เปิดให้เข้าเยี่ยมชมได้ปกติ) </p>

            <div id="map"></div>

        </div>

    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="../static/images/home/under.png" alt="">
            </div>
        </div>
    </div>
</footer>  

<script>
function myMap() {
    var place = {lat: 13.691790, lng: 100.702236};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>

</body>
</html>
