<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>วัดภูเขาทอง</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <link href="../static/css/place.css" rel="stylesheet">

</head>
<body>
<header id="header">
    <section id="page-breadcrumb">
        <div id="login_block" class="modal">
            <form class="modal-content animate" method="post" action="">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('login_block').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                    <img src="../static/images/logo.png" alt="logo" class="avatar">
                </div>
                <div class="login-container">
                    <label><b>E-mail</b>
                        <input type="email" placeholder="Enter E-mail as username" id="username" required>
                        <p id="warningEmail_login" class="invalid">Invalid Email</p>
                    </label>

                    <label><b>Password</b>
                    <input type="password" placeholder="Enter Password" id="password" required>
                    </label>


                    <button type="submit" id="Login">Login</button>
                </div>
                <div class="login-bottom">
                    <span class="fpsw" id="ForgetPass">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <div id="register_block" class="modal2">
            <form class="modal-content animate" method="post" action="">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('register_block').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                    <img src="../static/images/logo.png" alt="logo" class="avatar">
                </div>
                <div class="login-container">
                    <label for="rusername"><b>E-mail</b>
                    <input type="email" placeholder="example@gmail.com" id="rusername" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ></label>
                    <p id="warningEmail" class="invalid">Invalid Email</p>

                    <label for="rname"><b>DisplayName</b>
                        <input type="text" placeholder="YourDisplayName" id="rname" minlength="4" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}">
                    </label>
                    <p id="warningName_num" class="invalid">Minimum 4 letters</p>
                    <p id="warningName_char" class="invalid">Don't use Special Character</p>

                    <label for="rpassword"><b>Password</b>
                    <input type="password" placeholder="Enter Password" id="rpassword" minlength="6" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                    </label>
                    <p id="warningPass" class="invalid">Minimum 6 letters</p>

                    <label for="conpassword"><b>Confirm Password</b>
                    <input type="password" placeholder="Confirm Password" id="conpassword" minlength="6" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                    </label>
                    <p id="warningConPass" class="invalid">Password doesn't match</p>

                    <button type="submit" id="Register" value="Submit">Register</button>
                </div>
                <div class="login-bottom">
                    <span class="fpsw" id="RForgetPass">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <div class="navbar navbar-inverse" role="banner">
            <table class="navbart">
                <tr>
                    <td rowspan="2">
                        <a class="navbar-brand" href="index.html"><img src="../static/images/logo.png" alt="logo"></a>
                    </td>
                    <td>
                        <div>
                            <div class="social-icons">
                                <ul>
                                    <li onclick="login()"><a href="#modal" class="button-login"> Login</a></li>
                                    <li onclick="register()"><a href="#modal" class="button-login"> Register |</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="navbarlist overflow">
                        <ul>
                            <li><a href="type_religious.html">Religious Sites</a></li>
                            <li><a href="type_art_museum.html">Art & Museum</a></li>
                            <li><a href="type_market.html">Market</a></li>
                            <li><a href="type_natural.html">Natural</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</header>

<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>วัดสระเกศราชวรมหาวิหาร</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/religious/watgloden_1.png">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watgloden_2.png" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watgloden_3.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watgloden_4.png">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>วัดสระเกศ (ภูเขาทอง) อยู่นอกกำแพงเมือง ริมคลองมหานาค ตรงที่บรรจบกับคลองบางลำพู เดิมเป็นวัดเก่าชื่อว่า “วัดสะแก”
                    ได้รับการสถาปนาขึ้นใหม่ทั้งพระอารามในสมัยรัชกาลพระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลก และพระราชทานนามว่า”วัดสระเกศ”
                    ส่วนเจดีย์ภูเขาทองนั้นเริ่มสร้างในสมัยพระบาทสมเด็จพระนั่งเกล้าเจ้าอยู่หัวโดยทรงเลียนแบบมาจากภูเขาทองในสมัยกรุงศรีอยุธยาแล้วเสร็จในรัชสมัยพระบาทสมเด็จพระจอมเกล้าเจ้าอยู่หัวทรงได้รับพระราชทานนามว่า
                    ”บรมบรรพต” ต่อมาพระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัวเสด็จพระราชดำเนินประกอบพระราชพิธีอัญเชิญพระบรมสารีริกธาตุที่บูชาไว้ใน
                    พระบรมมหาราชวังและพระบรมสารีริกธาตุที่ทางรัฐบาลอังกฤษเมื่อครั้งยังปกครองประเทศอินเดียถวายแด่พระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัว มาประดิษฐานในพระเจดีย์ภูเขาทอง</p>
                <p>ภายในพระอุโบสถประดิษฐานพระประธานปางสมาธิองค์ใหญ่ ผนังรอบพระอุโบสถทั้งสี่ด้านนั้นประดับภาพจิตรกรรมอันงดงาม เบื้องบนเขียนภาพเทวดาและท้าวจตุโลกบาล
                    ด้านตรงข้ามกับพระประธานเป็นภาพพุทธประวัติตอนมารวิชัย ระหว่างซุ้มหน้าต่างวาดเป็นภาพทศชาติของสมเด็จพระสัมมาสัมพุทธเจ้า ส่วนด้านหลังพระประธานเป็นภาพไตรภูมิ
                    เมื่อกราบท่านแล้วแหงนมองพระพักตร์ท่านและดูรอบๆพระอุโบสถจะได้ความรู้สึกอิ่มตาสบายใจ</p>
                <p>องค์พระบรมสารีริกธาตุที่รัฐบาลอังกฤษได้น้อมเกล้าถวายแด่พระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัวเมื่อร้อยกว่าปีก่อนนั้นประดิษฐานอยู่ภายในเจดีย์ภูเขาทองนี้
                    นอกจากนี้ภายในมณฑปแห่งนี้ก็มีประดิษฐานไว้ให้กราบไหว้เช่นกัน</p>

            </div>

        </div>

        <div class="aside padding-bottom">
            <span class="post-date">February 14, 2018</span>
            <span class="like-num">3</span>
            <span class="fa-heart">
                <img src="../static/images/home/like.png" onmouseover="hoverlike(this);"
                     onmouseout="unhoverlike(this);"/>
            </span>
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>ริมคลองมหานาคและคลองรอบกรุง แขวงบ้านบาตร เขตป้อมปราบศัตรูพ่าย กรุงเทพมหานคร 10100</p>
            <h3>เวลาทำการ</h3>
            <p>ทุกวัน เวลา : 08.00 - 18.00 น.</p>
            <p>คนไทยไม่เสียค่าเข้าชม ชาวต่างชาติ 20 บาท </p>

            <div id="map"></div>

        </div>

    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="../static/images/home/under.png" alt="">
            </div>
        </div>
    </div>
</footer>  

<script>
function myMap() {
    var place = {lat: 13.753963, lng: 100.506668};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>

</body>
</html>
