<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Religious Sites</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <link href="../static/css/type.css" rel="stylesheet">
</head>
<body>
<header id="header">
    <section id="page-breadcrumb">
        <div id="id01" class="modal">
            <form class="modal-content animate" action="">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                    <img src="../static/images/logo.png" alt="logo" class="avatar">
                </div>
                <div class="login-container">
                    <label><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button type="submit">Login</button>
                    <br>
                    <label>
                        <input type="checkbox" name="remember"> Remember me
                    </label>
                </div>
                <div class="login-bottom">
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <div class="navbar navbar-inverse" role="banner">
            <table class="navbart">
                <tr>
                    <td rowspan="2">
                        <a class="navbar-brand" href="index.html"><img src="../static/images/logo.png" alt="logo"></a>
                    </td>
                    <td>
                        <div class="overflow">
                            <div class="social-icons">
                                <ul>
                                    <li>
                                        <div class="search">
                                            <form role="form">
                                                <i onclick="showBlock()" class="fa fa-search"></i>
                                                <div class="field-toggle" id="search-box">
                                                    <input type="text" class="search-form" autocomplete="off"
                                                           placeholder="Search">
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li onclick="login()"><a href="#modal" class="button-login"> LOGIN</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="navbarlist">
                        <ul>
                            <li><a href="#">Religious Sites</a></li>
                            <li><a href="type_art_museum.html">Art & Museum</a></li>
                            <li><a href="type_maket.html">Market</a></li>
                            <li><a href="type_natural.html">Natural</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</header>

<section id="blog_type" class="padding-bottom">

    <div class="img_type">

        <img class="mySlides" src="../static/images/type_religious/header_religious_1-2.jpg">
        <img class="mySlides" src="../static/images/type_religious/header_religious_4.jpg">
        <img class="mySlides" src="../static/images/type_religious/header_religious_3.jpg">

        <div class="description_type">
            <h1>Religious Sites</h1>
            <p>In Thailand being a Buddhist country, temples play an important role in everyday 
                life for Thai people. People go to the temple for merit making, prey to the Buddha 
                for things such as good health, good fortune and wealth and to seek advice from monks. </p>
        </div>
    </div>
    <div class="block_type_list">
        <!--places 1-->
        <div class="block_type_content">
            <div class="block_1">
                <img class="block_img" src="../static/images/religious/watbenjama_1.jpg" alt=""  >
            </div>
            <div class="block_2">
                <div class="block_info">
                <h3 >[ วัดเบญจมบพิตรดุสิตวนาราม ] ตระเวนแหล่งศิลปวัฒนธรรมและสัมผัสวิถีไทย</h3>
                <p>
                    วัดเบญจมบพิตรดุสิตวนาราม ที่มักจะเรียกกันสั้นๆ ว่า วัดเบญฯ<br>
                    หรือที่เป็นที่รู้จักในหมู่นักท่องเที่ยวชาวต่างชาติว่า The Marble Temple ถึงแม้ว่าจะเป็นวัด<br>
                    ที่มีนักท่องเที่ยวจากทั่วโลกมาเยี่ยมชมความงาม ของสถาปัตยกรรมและศิลปกรรมไทยอยู่ตลอดเวลา แต่วัดเบญฯ ยังให้ความรู้สึกสงบเย็นอย่างที่วัดควรจะเป็น<br>
                    อีกทั้งยังดูแลรักษาความสะอาดไว้ได้เป็นอย่างดี ....&nbsp; &nbsp; &nbsp;<a href="place_watbenjama.html">เพิ่มเติม</a> </p>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
        <!--places 2-->
        <div class="block_type_content">
            <div class="block_1">
                <div class="block_info">
                <h3 >[ วัดพระศรีรัตนศาสดาราม ] พาเดินเล่นชิวๆ ชมวัดพระแก้ว</h3>
                <p>
                    วัดพระศรีรัตนศาสดาราม หรือที่เรียกกันทั่วไปว่า วัดพระแก้ว เป็นวัดที่พระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลกมหาราชโปรดเกล้าฯ
                    ให้สร้างขึ้นใน พ.ศ. 2325 เป็นวัดในพระบรมมหาราชวัง เช่นเดียวกับ วัดพระศรีสรรเพชญ์ ....&nbsp; &nbsp; &nbsp;<a href="place_watprakeaw.html">เพิ่มเติม</a> </p>
                    <br>
                    <hr>
                </div>

            </div>
            <div class="block_2">
                <img class="block_img" src="../static/images/religious/watphakeaw_1.jpg" alt=""  >
            </div>

        </div>

        <!--places 3-->
        <div class="block_type_content">
            <div class="block_1">
                <img class="block_img" src="../static/images/religious/watarun_1.png" alt=""  >
            </div>
            <div class="block_2">
                <div class="block_info">
                <h3 >[ วัดอรุณฯ ] Temple of the dawn.......เอกลักษณ์แห่งแผ่นดินสยาม</h3>
                <p>
                    ท่ามกลางปัญหามากมายที่รอคอยการแก้ใขในกรุงเพพมหานคร <br>
                     เมืองหลวงของเรายังคงมีของดีและสิ่งสวยงามที่รอคอยการค้นหาจากผู้คนที่แสวงหาความสุขจากการเดินทางท่องเที่ยวไปในทุกแห่งหน
                    บางครั้งอดไม่ได้ที่จะมีความรู้สึกว่าของดีที่อยู่ใกล้ไขว่คว้าง่ายมักจะถูกมองข้ามโดยง่ายดาย เพื่อเสาะแสวงหาสิ่งที่ไกลเกินเอื้อม  ....&nbsp; &nbsp; &nbsp;<a href="place_watarun.html">เพิ่มเติม</a> </p>
                    <br>
                    <hr>
                </div>
            </div>
        </div>

        <!--places 4-->
        <div class="block_type_content">
            <div class="block_1">
                <div class="block_info">
                <h3 >[ วัดภูเขาทอง ] เวลาน้อยก็จะเที่ยวววววว</h3>
                <p>
                    เมื่อพูดถึงวัดสระเกศ ฯ สิ่งหนึ่งที่นึกขึ้นได้ก็คือพระบรมบรรพตหรือเจดีย์ภูเขาทองที่อยู่ภายในวัด
                    ซึ่งภายในพระบรมบรรพตแห่งนี้เองที่เป็นที่ประดิษฐานพระบรมสารีริกธาตุที่ทางรัฐบาลอังกฤษเมื่อครั้งยังปกครองประเทศอินเดียถวายแด่พระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัวเมื่อปี พ.ศ. ๒๔๔๒ ....&nbsp;
                    &nbsp; &nbsp;<a href="place_watgloden.html">เพิ่มเติม</a> </p>
                    <br>
                    <hr>
                </div>

            </div>
            <div class="block_2">
                <img class="block_img" src="../static/images/religious/watgloden_1.png" alt=""  >
            </div>

        </div>

    </div>


</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="../static/images/home/under.png" alt="">
            </div>
        </div>
    </div>
</footer>

<script language="JavaScript" src="../static/js/script_img_change.js"></script>

</body>
</html>
